{% extends 'base.html' %}

{% block body %}
	<h3> Certificate Generation Report for {{event_type}} of {{event_name}}</h3>
	<small>on : {{event_date}}</small>
	<br/>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Email</th>
	      <th scope="col">Organization</th>
	      <th scope="col">Status</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for item in participat_details %}
	    <tr>
	      <th scope="row">{{forloop.counter}}</th>
	      <td>{{item.name}}</td>
	      <td>{{item.email}}</td>
	      <td>{{item.org}}</td>
	      {% if item.status %}
	      	<td style="color:green">Sent</td>
	      {% else %}
	      	<td style="color: red">Unsend</td>
	      {% endif %}
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
{% endblock %}